* {
  padding: 0;
  margin: 0;
  font-family: New Rocker;
}
body {
  background-image: url(assist/librery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: beige;
}
a {
  color: beige;
}
.bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}
